<section class="sidebar-element">
    <nav>
        <ul class="list-unstyled primary-menu">
            <li class="primary-menu-element {% if activeNavigationElement == 'history' %}primary-menu-element-active {% endif %}">
                <a href="{{ path('history') }}">Historie der #16</a>
            </li>
            <li class="primary-menu-element {% if activeNavigationElement == 'baseVehicle' %}primary-menu-element-active {% endif %}">
                <a href="{{ path('base-vehicle') }}">Basisfahrzeug</a>
            </li>
            <li class="primary-menu-element {% if activeNavigationElement == 'equipment' %}primary-menu-element-active {% endif %}">
                <a href="{{ path('equipment') }}">Sonderausstattung</a>
            </li>
        {% if activeNavigationElement == 'equipment' %}
            </ul>
            <ul class="list-unstyled secondary-menu">
                <li class="secondary-menu-element secondary-menu-element-active"><a href="#">Die Lackierung</a></li>
                <li class="secondary-menu-element"><a href="#">Die Antenne</a></li>
                <li class="secondary-menu-element"><a href="#">Die Stoßstangen</a></li>
                <li class="secondary-menu-element"><a href="#">Die Nebelleuchten</a></li>
                <li class="secondary-menu-element"><a href="#">Der Lampenbügel</a></li>
                <li class="secondary-menu-element"><a href="#">Das Softtop</a></li>
                <li class="secondary-menu-element"><a href="#">Das Zubehör</a></li>
            </ul>
            <ul class="list-unstyled primary-menu">
        {% endif %}
            <li class="primary-menu-element {% if activeNavigationElement == 'gallery' %}primary-menu-element-active {% endif %}">
                <a href="{{ path('gallery') }}">Bildergalerie</a>
            </li>
            <li class="primary-menu-element {% if activeNavigationElement == 'contact' %}primary-menu-element-active {% endif %}">
                <a href="{{ path('contact') }}">Kontakt</a>
            </li>
        </ul>
        <div class="divider"></div>
    </nav>
</section>
