{% if activeSubElement is not defined %}
    {% set activeSubElement = '' %}
{% endif %}

<section class="sidebar-element">
    <nav>
        <ul class="nav-primary">
            <li><a href="{{ path('homepage') }}" class="{% if activeNavElement == 'homepage' %}active{% endif %}">Startseite</a></li>
            <li><a href="{{ path('vehicle') }}" class="{% if activeNavElement == 'vehicle' %}active{% endif %}">Der Jeep</a></li>
        </ul>
        <ul class="nav-secondary">
            <!--<li><a href="{{ path('vehicle_cb_radio') }}" class="{% if activeSubElement == 'vehicle_cb_radio' %}active{% endif %}">CB-Funkgerät</a></li>-->
            <li><a href="{{ path('vehicle_rims') }}" class="{% if activeSubElement == 'vehicle_rims' %}active{% endif %}">Felgen und Reifen</a></li>
            <!--<li><a href="{{ path('vehicle_lightbar') }}" class="{% if activeSubElement == 'vehicle_lightbar' %}active{% endif %}">Lampenbügel</a></li>-->
            <li><a href="{{ path('vehicle_paintjob') }}" class="{% if activeSubElement == 'vehicle_paintjob' %}active{% endif %}">Lackierung</a></li>
            <li><a href="{{ path('vehicle_fog_lights') }}" class="{% if activeSubElement == 'vehicle_fog_lights' %}active{% endif %}">Nebelscheinwerfer</a></li>
            <!--<li><a href="{{ path('vehicle_winch') }}" class="{% if activeSubElement == 'vehicle_winch' %}active{% endif %}">Seilwinde</a></li>-->
            <li><a href="{{ path('vehicle_seats') }}" class="{% if activeSubElement == 'vehicle_seats' %}active{% endif %}">Sitze und Teppiche</a></li>
            <li><a href="{{ path('vehicle_softtop') }}" class="{% if activeSubElement == 'vehicle_softtop' %}active{% endif %}">Softtop mit Halbtüren</a></li>
            <li><a href="{{ path('vehicle_panels') }}" class="{% if activeSubElement == 'vehicle_panels' %}active{% endif %}">Verkleidungen</a></li>
            <!--<li><a href="{{ path('vehicle_accessories') }}" class="{% if activeSubElement == 'vehicle_accessories' %}active{% endif %}">Weiteres Zubehör</a></li>-->
        </ul>
        <ul class="nav-primary">
            <li><a href="{{ path('history') }}" class="{% if activeNavElement == 'history' %}active{% endif %}">Die Historie</a></li>
            <li><a href="{{ path('leasing') }}" class="{% if activeNavElement == 'leasing' %}active{% endif %}">Den Jeep mieten</a></li>
            <li><a href="{{ path('contact') }}" class="{% if activeNavElement == 'contact' %}active{% endif %}">Kontakt</a></li>
        </ul>
    </nav>
</section>
