{% set social_facebook    = "https://www.facebook.com/jurassicjeep.de" %}
{% set social_instagram   =  "https://www.instagram.com/jurassicjeep.de/" %}
{% set social_youtube     = "https://www.youtube.com/channel/UCDJXUi8NY3lgLxh1_fcDNog" %}
{% set mood_image_url     = url('homepage') ~ (mood_image_src) %}

<!DOCTYPE html>

<html lang="de">
    <head>
        <meta charset="utf-8">
        <title>{{ title }} &middot; Jurassic Jeep</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="{{ author | default('Marcel Kraus, Erftstadt') }}">
        <meta name="robots" content="{{ robots | default('index,follow') }}">
        <meta name="description" content="{{ description }}">
        <link rel="stylesheet" href="/node_modules/bootstrap-icons/font/bootstrap-icons.css">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
        <meta property="og:type" content="website">
        <meta property="og:locale" content="de_DE">
        <meta property="og:url" content="{{ url(app.request.get('_route')) }}">
        <meta property="og:site_name" content="Jurassic Jeep">
        <meta property="og:title" content="{{ title }}">
        <meta property="og:image" content="{{ mood_image_url }}">
        <meta property="og:image:alt" content="{{ mood_image_alt }}">
        <meta property="og:description" content="{{ description }}">
        {% if app.environment == "prod" %}
            <script type="text/javascript">
                var _paq = window._paq = window._paq || [];
                _paq.push(['disableCookies']);
                _paq.push(['trackPageView']);
                _paq.push(['enableLinkTracking']);
                (function() {
                    var u="//matomo.marcelkraus.de/";
                    _paq.push(['setTrackerUrl', u+'matomo.php']);
                    _paq.push(['setSiteId', '1']);
                    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
                    g.type='text/javascript'; g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
                })();
            </script>
        {% endif %}
    </head>
    <body>
        <div class="container">
            {% block canvas %}
                <div id="canvas">
                    {% block header %}
                        {% include 'header.html.twig' %}
                    {% endblock %}
                    <div class="row">
                        <div class="col-lg-3">
                            {% block sidebar %}
                                <aside>
                                    {% include 'sidebar/navigation.html.twig' %}
                                    {% include 'sidebar/social-media.html.twig' %}
                                    {% include 'sidebar/motorpool.html.twig' %}
                                </aside>
                            {% endblock %}
                        </div>
                        <div class="col-lg-9">
                            {% block main %}
                                <main>
                                    {% block article %}
                                        <article>
                                            ((Placeholder))
                                        </article>
                                    {% endblock %}
                                    {% block footer %}
                                        <footer>
                                            <p>&copy; 2021 – {{ "now"|date("Y") }} Marcel Kraus, Erftstadt<br/>
                                            <a href="{{ path('imprint') }}">Impressum</a> &middot; <a href="{{ path('privacy') }}">Datenschutz</a></p>
                                            „Jurassic Park“ und „Jurassic World“ sind eingetragene Markenzeichen der Universal City Studios LLC und/oder Amblin Entertainment, Inc., die dieses Projekt nicht offiziell unterstützen. Mein „Jurassic Park“-Jeep ist ein authentischer Nachbau und wurde nicht bei den Dreharbeiten der Filme verwendet.
                                        </footer>
                                    {% endblock %}
                                </main>
                            {% endblock %}
                        </div>
                    </div>
                </div>
            {% endblock %}
        </div>
    </body>
</html>
